<div class="container">
  <div class="sidebar">
<h2>photos</h2>
</div>

<div>
  <table class="photos-table">
<ul>
    <li *ngFor="let photo of paginatedPhotos">
      
      <button (click)="viewPhoto(photo.id)">{{ photo.title }}<img [src]="photo.thumbnailUrl"></button>
    </li>
  </ul>
</table>

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">←</button>
  <span>Page {{ currentPage }} of {{ totalPages() }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()">→</button>
</div>
  </div>
  </div>
  